body {
  margin: 0px;
  background-color: black;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  opacity: .9;
}

header {
  background-color: black;
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid seashell;
  font-size: 30px;
}

header img {
  height: 50px;
  width: auto;
  display: inline-flex;
  padding-left: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}


nav span a {
  color: white;
  padding: 0px 20px;
}

#main {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

#main img {
  position: relative;
  display: flex;
  z-index: 1;
}

#maintextbox {
  background-color: black;
  position: absolute;
  z-index: 2;
  min-width: 1200px;
  display: block;
  text-align: center;
}

#maintextbox h2 {
  height: 5px;
  padding-bottom: 25px;
}

#maintop {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainmiddle {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-top: 50px;
}

.teaofthemonth {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

#fallberry,
#spice,
#donut,
#myrtle,
#bedford {
  display: block;
  padding: 0px 10px;
}

.teaofthemonth img {
  height: 200px;
  width: 300px;
}

.teaofthemonth h4 {
  margin-top: 10px;
}

#mainbottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#locations {
  overflow: hidden;
  weight: 1200px;
  height: 500px;
}

#locations img {
  position: relative;
  z-index: 3;
}

#locationscontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 4;
  justify-content: center;
}

#locationstitle {
  display:block;
  z-index: 4;
}

#locationsmiddle {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  position: absolute;
  align-items: center;
}

.places {
  display: block;
  background-color: black;
  text-align: center;
  justify-content: center;
  height: 250px;
  width: 300px;
  margin: 20px;
}

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

#copywrite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1200px;
}
#copywrite h5 {
  padding-left: 20px;
  display: block;
